<article class="post-single {{post_class}}{{#if feature_image}} with-feature-image{{/if}}">
	
	{{#if feature_image}}
		<header>
			{{> post/feature-image}}
		</header>
	{{/if}}

    <section>
        {{> post/title}}

        {{!-- {{> post/tags-primary}} --}}

        {{> post/date}}

        {{!-- {{> post/reading-time}} --}}
    </section>

    <section>
        {{#is "home"}}
            {{> post/excerpt}}
        {{else}}
            {{> post/content}}
        {{/is}}
    </section>

    <footer>
        {{> post/tags-all}}

		{{!-- {{> post/authors}} --}}
    </footer>
</article>
