{{!--
    This is the template for a single post, which also extends default.hbs. Read more about it in https://themes.ghost.org/docs/templates
--}}

{{!< default}}

<div class="single-post-view">
	{{#post}}
		{{> "post-single"}}
	{{/post}}
</div>
