body 
{
	color: #2f2c30;
	
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	width: unset;
	height: 100%;
	
	img 
	{
		max-width: 100%;
	}
}


a
{
	text-decoration: none;
}

pre
{
	overflow-x: scroll;
}

code
{
	white-space: pre-wrap;
}
