// Spacing, margins, padding
$xs-rem: 0.35rem;
$sm-rem: 0.75rem;
$md-rem: 1.5rem;
$lg-rem: 2rem;
$xl-rem: 3rem;

$sm-px: 10px;
$md-px: 20px;
$lg-px: 30px;
$xl-px: 60px;

$sm-vw: 1vw;
$md-vw: 2vw;
$lg-vw: 3vw;
$xl-vw: 5vw;

// Dimensions
$sidebar-width: 20vw;
$sidebar-pad: $sm-vw;
$sidebar-total-width: $sidebar-width + ($sidebar-pad * 2);

:root
{
    font-size: 16px;
}

.kg-width-wide,
.kg-width-full,
.kg-gallery-container,
.kg-gallery-row,
.kg-gallery-image 
{
    font: inherit;
}

.flow-box
{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.header 
{
    background: cornflowerblue; 

    // Fixed left sidebar (optional)
    @media screen and (min-width:1200px)
    {
        position: fixed;
        top: 0; bottom: 0; 
        max-width: 400px;
        width: $sidebar-width;
        padding: $sidebar-pad;
    }
}


.wrapper
{
    margin: 0;

    // Fixed left sidebar (optional)
    @media screen and (min-width:1200px)
    {
        padding-left: $sidebar-total-width;
    }

    .main
    {
        padding: $xl-px;
        
        // Where the post's body content lives
        .post
        {
            section
            {
                p 
                {
                    margin: 0.25rem 0;
                }

                ol, ul 
                {
                    margin-left: $md-rem;
                }
            }
        }
    }

}

.footer 
{
    background-color: paleturquoise;
    margin: $xl-rem 0 0;
    padding: $lg-rem 0;

    // Fixed left sidebar (optional)
    @media screen and (min-width:1200px)
    {
        padding-left: $sidebar-total-width;
    }
    
    > *
    {
        padding: 0 $xl-rem;
    }
}

.post-title
{
    font-size: $xl-rem;
    margin-bottom: $lg-rem;
}