@import 'includes/variables';

// Dimensions
$sidebar-width: 18vw;
$sidebar-pad: $md-vw;
$sidebar-total-width: $sidebar-width + ($sidebar-pad * 2);


.flow-box
{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


.main 
{
	padding: $xl-px;
}

// Fixed left sidebar (optional)
@media screen and (min-width:1200px)
{
	.header
	{
		position: fixed;
		top: 0; bottom: 0; 
		overflow-y: auto;
    	overflow-x: hidden;
		padding: 3vw $sidebar-pad $sidebar-pad;
		max-width: 400px;
		width: $sidebar-width;
		text-align: right;

		> * 
		{
			margin-bottom: 2rem;
		}
	}

	.wrapper
	{
		margin: 0;
		margin-left: $sidebar-total-width;
	}
}
