@import 'includes/variables';
@import 'includes/material-design-shadows';

// Dimensions
$sidebar-width: 18vw;
$sidebar-pad: $md-vw;
$sidebar-total-width: $sidebar-width + ($sidebar-pad * 2);

$card-border: 1px solid #ddd;
$card-border-radius: 2px;


$content-max-width: 1050px;



.flow-box
{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}


.header 
{
	padding: 3vw $sidebar-pad $sidebar-pad;
}


.main, .footer
{
	padding: 0 $md-vw $lg-vw;
}


.post 
{
	
	box-shadow: $material-shadow-1;
	transition: $material-shadow-1-transition;
	
	border-radius: $card-border-radius;
	
	& > :first-child
	{
		border-radius: $card-border-radius $card-border-radius 0 0;
		// Apply to all children too
		* { border-radius: $card-border-radius $card-border-radius 0 0; }
	}

	section, footer 
	{
		padding: $sm-rem $md-vw;
	}


	// .post-feature-image figure 
	// {		
	// 	max-height: 50vmax;
	// }						
			
	& > :last-child
	{
		border-radius: 0 0 $card-border-radius $card-border-radius;
		padding: $sm-vw $md-vw $xl-rem;
	}
}


.post-feature-image figure
{
	position: relative;
	overflow: hidden;

	img 
	{
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
	}
}

.post-loop
{
		
	.post-feature-image figure 
	{
		height: 225px; /* whatever you want */
	}
}



.single-post-view
{
	.post-feature-image figure 
	{
		img 
		{
			position: static;
		}
	}			
			
}



.authors-list
{
	margin: 0; padding: 0;
	list-style: none;
	list-style-type: none;

	img
	{
		max-width: 150px;
	}
}

// Fixed left sidebar (optional)
@media screen and (min-width:1200px)
{
	.wrapper
	{
		// margin: 0;
		padding: $sm-vw;
		margin-left: $sidebar-total-width;

		min-width: unset;
		width: 100%;
		max-width: $content-max-width;		
	}

	:not(.single-post-view)
	{
		& > .post:hover 
		{
			box-shadow: $material-shadow-1-hover;
		}
	}

	.single-post-view
	{
		.post-feature-image figure
		{
			max-height: 40vh;
		}
	}

	.header
	{
		position: fixed;
		top: 0; bottom: 0; 
		overflow-y: auto;
    	overflow-x: hidden;
		max-width: 400px;
		width: $sidebar-width;
		text-align: right;

		> * 
		{
			margin-bottom: 2rem;
		}
	}
}



@media screen and (max-width: 680px)
{			
	.main
	{
		padding: 0;

		.post-loop
		{
			padding: 0 $md-vw;
		}

		.single-post-view
		{
			.post
			{	
				box-shadow: none;

				section, footer
				{
					padding: 0 $lg-vw $lg-vw;
				}
			}
		}

		.post-feature-image figure 
		{
			height: auto;
			max-height: unset;
			
			img
			{
				position: static;
			}
		}
	}			
			
	.footer
	{
		padding: $sm-rem $md-vw;
	}
}
